[submodule "3rdparty/pstl"]
	path = 3rdparty/pstl
	url = https://github.com/intel/parallelstl.git
[submodule "3rdparty/cereal"]
	path = 3rdparty/cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "3rdparty/rttr"]
	path = 3rdparty/rttr
	url = https://github.com/rttrorg/rttr
